<div style="padding: 1rem; box-shadow: 2px 2px 8px black;">
  <div style="margin-bottom: 12px;">
    1. Go over basic meta code structure for component visualization
  </div>

  <div style="margin-bottom: 12px;">
    2. Go over individual story usage
  </div>

  <div style="margin-bottom: 12px;">
    3. Go over nice storybook utility features (ie. measuring tool, css outlining)
  </div>

  <div style="margin-bottom: 12px;">
    4. Go over how moduleMetadata is needed for components that are not standalone and have module dependencies
  </div>
</div>
